!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Undertow
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/code.css" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/highlight.pack.js" }
    %script{ :type=>'text/javascript'}hljs.initHighlightingOnLoad();
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>"#{site.base_url}" } Undertow
          %ul.nav
            %li
              %a{ :href=>"https://github.com/undertow-io/undertow" } Source
            %li
              %a{ :href=>"https://github.com/undertow-io/undertow/tags" } Download
            %li
              %a{ :href=>"#{site.base_url}/documentation/index.html" } Documentation
    .container
      ~ content
      %hr
      %footer
        %p &copy; Red Hat #{Date.today.year}
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
